body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

div{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    min-width: 80vw;
    flex-grow: 1;
    flex-shrink: 1;
}

nav{
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}
header{
    flex-basis: 90px;
    flex-grow: 0;
    flex-shrink: 0;
}
article{
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
footer{
    flex-basis: 90px;
    flex-grow: 0;
    flex-shrink: 0;
}