
/* Colors:
#f2f3d9 = beige
#dc9e82 = buff
#c16e70 = Old rose
#030027 = Oxford Blue
#151e3f = Space cadet
*/

body{
    background-color: #f2f3d9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #030027;
    color: white;
    display: flex;
    flex-direction: row;
}
.analytica{
    flex-basis: auto;
    justify-content: flex-end;
    align-self: baseline;
    flex-grow: 1;
}

.links{
    flex-basis: auto;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 30px;

    flex-grow: 4;
    align-self: baseline;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
}

.red-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.titles{
    flex-basis: auto;
    text-align: center;
}

.box-1, .box-2, .box-3{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    justify-content: flex-end;
    border-radius: 4px;
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 350px;
    max-width: 280px;
    background-color: #c16e70;
}
